*.class

# Package Files #
*.jar
/build
build/
.classpath
.classpath
.classpath
build/classes/Model/DatabaseHelper.class
build/classes/Model/User.class
build/classes/Servlet/Auth.class
build/classes/Servlet/RegisterCheck.class
