@CHARSET "ISO-8859-1";

@media all and (max-device-width: 1024px)
{
	#textlieu{
		font-size: 35px;
	}
	
	#Tel, #Ville, #CodePost, #Adr, #NomLieu{
		width: 250px;
		height: 40px;
		font-size: 35px;
	}
	
	 #Cate{
		width: 250px;
		height: 50px;
		font-size: 35px;
	}
	 
	#field{
		text-align: right;
	}
	
	#add{
		width: 250px;
		height: 40px;
		font-size: 35px;
		float: left;
	}
}