@CHARSET "ISO-8859-1";

#button_cate, #button_lieu{
	border:solid;
	border-style: solid;
	border-color: #EEEEEE;
	vertical-align: center;
	margin-top: 15px;
}

#button_deco{
	border:solid;
	border-style: solid;
	border-color: #EEEEEE;
	vertical-align: center;
	margin-top: 15px;
	text-align: right;
	float: right;
}

#logo{
	background-color: #8800FF;
	padding: 15px;
}

#content{
	margin-top: 25px;
	min-height: 850px;
	min-width: 530px;
}

#cate_content{
	width: 150px;
	border: 2px solid;
	border-color: #cdcdcd;
	padding: 5px;
	background-color: #f0f0f0;
	display: inline-block;
	top: 100px;
	bottom: 10px;
}

#eval_content{
	position: absolute;
	border: 2px solid;
	border-color: #cdcdcd;
	padding: 5px;
	background-color: #f0f0f0;
	display: inline-block;
	left: 300px;;
	right: 100px;
	top: 100px;
	bottom: 10px;
	min-width: 635px;
}

body{
	margin-left: 100px;;
	margin-right: 100px;
	margin-top: 10 px;
	margin-bottom: 10px;
	min-height: 530px;
	min-width: 850px;
}