@CHARSET "ISO-8859-1";

body{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10 px;
	margin-bottom: 10px;
	min-height: 530px;
	min-width: 1240px;
}

#button_menu_left{
	border:solid;
	border-style: solid;
	border-color: #EEEEEE;
	vertical-align: center;
	margin-top: 15px;
}

#button_menu_right{
	border:solid;
	border-style: solid;
	border-color: #EEEEEE;
	vertical-align: center;
	margin-top: 15px;
	text-align: right;
	float: right;
}

#logo{
	background-color: #8800FF;
	padding: 15px;
}

#content{
	margin-top: 25px;
	min-height: 850px;
	min-width: 530px;
}