@CHARSET "ISO-8859-1";

@media all and (max-device-width: 1024px)
{
	a{
	
	}
	
	#button_menu_left{
		border:solid;
		border-style: solid;
		border-color: #EEEEEE;
		vertical-align: center;
		width: 200px;
		height: 80px;
		margin-top: 15px;
		font-size: 25px;
	}
	
	#msg_co{
		margin-top: 15px;
		text-align: right;
		float: right;
	}
	
	#button_menu_right{
		border:solid;
		border-style: solid;
		border-color: #EEEEEE;
		vertical-align: center;
		width: 200px;
		height: 80px;
		margin-top: 15px;
		float: right;
		font-size: 25px;
	}
	
	#logo{
		background-color: #8800FF;
		padding: 15px;
	}
	
	#content{
		margin-top: 25px;
		min-height: 850px;
		min-width: 530px;
	}
	
	#info_content{
		width: 225px;
		border: 2px solid;
		border-color: #cdcdcd;
		padding: 5px;
		background-color: #f0f0f0;
		display: inline-block;
		top: 100px;
		bottom: 10px;
		font-size: 25px;
	}
	
	#main_content{
		position: absolute;
		border: 2px solid;
		border-color: #cdcdcd;
		padding: 5px;
		background-color: #f0f0f0;
		display: inline-block;
		left: 275px;
		right: 100px;
		top: 155px;
		bottom: 10px;
		min-width: 600px;
		min-height: 1000px;
		overflow: scroll;
		font-size: 25px;
	}
	
	body{
		margin-top: 15 px;
		margin-bottom: 10px;
		min-height: 530px;
		min-width: 900px;
	}
}

@media all and (min-device-width: 1025px)
{
	#button_menu_left{
		border:solid;
		border-style: solid;
		border-color: #EEEEEE;
		vertical-align: center;
		margin-top: 15px;
	}
	
	#msg_co{
		margin-top: 15px;
		text-align: right;
		float: right;
	}
	
	#button_menu_right{
		border:solid;
		border-style: solid;
		border-color: #EEEEEE;
		vertical-align: center;
		margin-top: 15px;
		text-align: right;
		float: right;
	}
	
	#logo{
		background-color: #8800FF;
		padding: 15px;
	}
	
	#content{
		margin-top: 25px;
		min-height: 850px;
		min-width: 530px;
	}
	
	#info_content{
		width: 150px;
		border: 2px solid;
		border-color: #cdcdcd;
		padding: 5px;
		background-color: #f0f0f0;
		display: inline-block;
		top: 100px;
		bottom: 10px;
	}
	
	#main_content{
		position: absolute;
		border: 2px solid;
		border-color: #cdcdcd;
		padding: 5px;
		background-color: #f0f0f0;
		display: inline-block;
		left: 300px;
		right: 100px;
		top: 100px;
		bottom: 10px;
		min-width: 635px;
		overflow: scroll;
	}
	
	body{
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 15 px;
		margin-bottom: 10px;
		min-height: 530px;
		min-width: 850px;
	}
}