@CHARSET "ISO-8859-1";

#texte_co{
	display: inline-block;
	float: left;
}

#connex{
	float:right;
	background-color: #f0f0f0;
	text-align: right;
	width: 315px;
	height: 150px;
	margin-right: 200px; 
	display: inline-block;
	padding-top: 50px;
}